# Introduction
Augie Doebling <br>
Data Science 301, Winter 2017
***

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from altair import *
from IPython.display import Image, display

## The Dataset
The dataset used in this project is called the Global Terrorism Database hosted by Kaggle.com and can be found here: [Global Terrorism Database](https://www.kaggle.com/START-UMD/gtd).

The dataset has over 156 thousand rows each representing a terrorist attack that has occured since the year 1970. The information in this dataset has been encoded into 137 columns. Of those columns, I will use 36 columns which have been deemed significant.

Here is the first 5 rows of the dataset to understand what it looks like:

In [5]:
data = pd.read_pickle('/data/augiedoebling/pickledGTD')

In [9]:
data.head()

,id,date,country,region,region_code,city,lat,long,summary,PERS,...,fatalitiesus,wounded,woundedus,propdamage,propvalue,hostkid,international,related,inUS_yes,byUScit_yes
0,197000000001,1970-01-01,Dominican Republic,Central America & Caribbean,2,Santo Domingo,18.456792,-69.951164,NaN,1,...,0.0,0.0,0.0,0,0.0,0.0,0.0,NaN,0,0
1,197000000002,1970-01-01,Mexico,North America,1,Mexico city,19.432608,-99.133207,NaN,1,...,0.0,0.0,0.0,0,0.0,1.0,1.0,NaN,0,0
2,197001000001,1970-01-01,Philippines,Southeast Asia,5,Unknown,15.478598,120.599741,NaN,1,...,0.0,0.0,0.0,0,0.0,0.0,1.0,NaN,0,1
3,197001000002,1970-01-01,Greece,Western Europe,8,Athens,37.983773,23.728157,NaN,1,...,0.0,0.0,0.0,1,0.0,0.0,1.0,NaN,0,1
4,197001000003,1970-01-01,Japan,East Asia,4,Fukouka,33.580412,130.396361,NaN,1,...,0.0,0.0,0.0,1,0.0,0.0,1.0,NaN,0,1

This table shows all the columns in the dataframe with a brief description of all of them

<table>
  <tr>
    <th>id</th>
    <th>date</th>
    <th>country</th>
    <th>region</th>
    <th>region code</th>
    <th>city</th>
    <th>lat</th>
    <th>long</th>
    <th>summary</th>
    <th>PERS</th>
    <th>CIP</th>
    <th>outsidehumlaw</th>
    <th>doubt</th>
    <th>alternative</th>
    <th>mulitple</th>
    <th>success</th>
    <th>suicide</th>
    <th>type</th>
    <th>nat1</th>
    <th>nat2</th>
    <th>nat3</th>
    <th>group</th>
    <th>attackercount</th>
    <th>claimed</th>
    <th>weapon</th>
    <th>fatalities</th>
    <th>fatalitiesus</th>
    <th>wounded</th>
    <th>woundedus</th>
    <th>propdamage</th>
    <th>propvalue</th>
    <th>hostkid</th>
    <th>international</th>
    <th>related</th>
    <th>inUS_yes</th>
    <th>byUScit_yes</th>
  </tr>
  <tr>
    <td>unique date-based identifier</td>
    <td>date event began</td>
    <td>country of location</td>
    <td>region of location</td>
    <td>numeric coding of region</td>
    <td>city of location</td>
    <td>lattitude of location</td>
    <td>longitude of location</td>
    <td>summary of the attack</td>
    <td>Was the attack's goal Political, Economic, Religious or Social?</td>
    <td>Was the attacks goal to Coerse, Intimidate or Publicize to an audience?</td>
    <td>Was the attack outside the context of legitimate warfare activities?</td>
    <td>Is there any doubt the attack was an act of terrorism</td>
    <td>Other possible reason if there is doubt</td>
    <td>If the attack is a multiple-incident event</td>
    <td>Was the attack successful</td>
    <td>Was the attack a suicide attack</td>
    <td>The type of attack the incident was (could be multiple)</td>
    <td>Nationality of the attacker(s), could be mulitple</td>
    <td>Nationality of the attacker(s), could be mulitple</td>
    <td>Nationality of the attacker(s), could be mulitple</td>
    <td>Name of group carrying out the account</td>
    <td>Number of terrorists participating</td>
    <td>Whether resposibility was claimed</td>
    <td>Type of weapon used to carry out the attack, could be mulitple</td>
    <td>Number of total confirmed fatalities for the attack</td>
    <td>Number of confirmed fatalities for the attack who were US citizens</td>
    <td>Number of total injured for the attack</td>
    <td>Number of total injured for the attack who were US citizens</td>
    <td>Was there property damage</td>
    <td>How much was the property worth at the time of attack</td>
    <td>Were their victims taken hostage or kidnapped</td>
    <td>Was the attack planned outside of the country it took place</td>
    <td>IDs of any attacks that were related</td>
    <td>Hot encoding if the attack took place in the US</td>
    <td>Hot encoding if a US national was involved in the attack</td>
  </tr>
</table>

## My Question
My goal with this dataset is to be able to see if we can isolate features in our dataset that are predictors of important factors of the attacks such as location, number of people killed and the orgins of the attackers. 
***

## Why I Chose this Dataset
I chose this dataset to do this project on because I thought it was particularly relevant to the state of our political affairs. Weeks before this project, America's new president, Donald Trump, imposed a travel ban on people coming from several muslim-majority countries on the basis of national security from terrorism. 

While this dataset has nationalities in the row, I am not confident enough on the legitimacy of that information to make predictions from it. 

That being said, I do think this project is relevant to or new government's fear of muslim immigrants. I think it is interesting to note the amount of attacks that have occured in Middle Eastern countries and even European countries is much greater than those that have occured in America. 

While this project does not have any directly political statements, it is certainly aimed to make its readers more aware of the reality of terrorism and how it relates to our countries national security.